/* footer */
.footer {
    background-color: rgb(255, 243, 191);
}
.footer .inner-footer {
    display: flex;
    justify-content: center;
}
.footer .inner-footer .fcon {
    flex: 0 1 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 155, 155);
}