/* indexContainer */
.container {
    
}
.container .inner-container {
    padding: 5px 0;
}
.container .inner-container .index {
    display: flex;
    justify-content: center;
}
.container .inner-container .index .sections {
    flex: 0 1 1280px;
    height: auto;
}
.container .inner-container .index .sections .section.sec1 {
    width: 100%;
}
.container .inner-container .index .sections .section.sec1 .sec-con {
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #ccc;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery {
    width: 100%;
    height: inherit;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul {
    width: 100%;
    height: inherit;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li {
    width: 100%;
    height: inherit;
    position: absolute;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(1){
    background: url(../../img/sec0.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(2){
    background: url(../../img/sec0.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(3){
    background: url(../../img/sec0.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(4){
    background: url(../../img/sec0.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(5){
    background: url(../../img/sec0.jpg) no-repeat 50%/cover;
}