.container{
    
}
.container .inner-container {
    /* padding: 5px 0; */
}
.container .inner-container .join {

}
.container .inner-container .join .inner-join {
    display: flex;
    justify-content: center;
}
.container .inner-container .join .inner-join .join-con {
    flex: 0 1 500px;
    border: 1px solid;
    box-sizing: border-box;
    padding: calc((100vh - 577px)/2) 0;
}
.container .inner-container .join .inner-join .join-con h1.title {
    line-height: 30px;
    padding: 20px 0;
    text-align: center;
    background-color: #555;
    color: #fff;
    font-weight: 400;
    box-shadow: 0px 0px 3px rgb(85, 85, 85);
}
.container .inner-container .join .inner-join .join-con .join-form {
    /* border: 1px solid; */
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 0px 3px rgb(85, 85, 85);
}
.container .inner-container .join .inner-join .join-con .join-form ul {
    /* border: 1px solid; */
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0px 0px 3px rgb(175, 175, 175);
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .inner-container .join .inner-join .join-con .join-form ul li {
    /* border: 1px solid; */
    box-sizing: border-box;
    display: flex;
    line-height: 30px;
    padding: 5px 0;
}
.container .inner-container .join .inner-join .join-con .join-form ul li label {
    flex: 0 0 100px;
    background-color: #555;
    color: #ccc;
    font-size: 14px;
    text-align: center;
}
.container .inner-container .join .inner-join .join-con .join-form ul li .rightInput {
    flex: 1;
    /* border: 1px solid #fcc; */
    box-sizing: border-box;
    padding: 0 10px;
}
.container .inner-container .join .inner-join .join-con .join-form ul li.li1 input {
    width: 100%;
    height: 26px;
    padding: 0 5px;
    box-sizing: border-box;
}
.container .inner-container .join .inner-join .join-con .join-form ul li.li1 input:focus {
    outline: 2px dotted #ccc;
}
.container .inner-container .join .inner-join .join-con .join-form ul li:not(.li1) {
    background-color: #555;
    display: flex;
}
.container .inner-container .join .inner-join .join-con .join-form ul li:last-child {
    background-color: #ffc;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
}
.container .inner-container .join .inner-join .join-con .join-form ul li:last-child input {
    flex: 0 1 100px;
    display: block;
    border: 0;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.container .inner-container .join .inner-join .join-con .join-form ul li:last-child input:hover {
    background-color: #fff;
    color: #000;
}
.container .inner-container .join .inner-join .join-con .join-form ul li.li2 .rightInput {
    /* background-color: #ffc; */
}
.container .inner-container .join .inner-join .join-con .join-form ul li.li2 .rightInput select {
    /* background-color: #ffc; */
    border: 1px dashed;
    font-size: 12px;
    line-height: 30px;
}
.container .inner-container .join .inner-join .join-con .join-form ul li.li2 .rightInput input {
    border: 1px dashed;
    font-size: 12px;
    line-height: 30px;
}
@media only screen and (max-width:768px){
    .container .inner-container .join .inner-join .join-con {
        padding: calc((100vh - 1038px)/2) 0;
    }
}
@media only screen and (max-width:640px){
    .container .inner-container .join .inner-join .join-con {
        padding: calc((100vh - 1038px)/2) 0;
    }
}